<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Electron Releases Calendar</h1>
        <p>Welcome to the Electron Releases Calendar!</p>
    </div>
</body>
</html>
